@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400,700');

body {
	font-family: 'Lato', sans-serif !important;
}

i {
	font-size: 2em !important;
}

h1, h2 {
	font-family: 'Inconsolata:700', monospace !important;
	color: #011638 !important;
}

ul {
	list-style: none;
}

img {
	margin: 5px;
	width: 100%;
	box-shadow: bottom 1px;
	max-width: 300px;
/*	border: 1px solid #efefef !important;*/
}

img:hover {
	box-shadow: 3px 3px 3px 0px rgba(54,65,86,1);
}


.header {

}

.container-fluid {
	margin: 5% 5% !important;
}